@model IEnumerable<DOANWEBDULICH.Models.KHACHSAN>

@{
    ViewBag.Title = "DetailsKS";
    Layout = "~/Views/Layout/Nav.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <style type="text/css">
        #Datve a {
            clear: both;
            background-color: black;
            color: white;
            width: 120px;
            height: 35px;
            display: block;
            float: right;
            text-align: center;
            padding-top: 8px;
            text-decoration: none;
            font-weight: bold;
            transition: 0.6s;
            border-radius: 5px;
        }

            #Datve a:hover {
                background-color: black;
                color: orange;
                transition: 0.6s;
            }
    </style>

</head>
<body>

    @foreach (var khachsan in Model)
    {
        <div style="padding-top: 100px"
             class="container">
            <div class="row">

                <!-- Post Content Column -->
                <div class="col-lg-8">

                    <!-- Title -->
                    <h1 class="mt-4">@khachsan.TENKS</h1> <!-- Tên Khách Sạn-->
                    <!-- Author -->
                    <p class="lead">
                        Giá :
                        <a href="#">@khachsan.GIA / Dem</a> <!--giá-->
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p>Liên lạc: @khachsan.DIACHI @khachsan.SDTKS</p>  <!-- Địa Chỉ - SDT KS -->

                    <hr>

                    <!-- Preview Image -->
                    <img class="img-fluid rounded" src="~/PIC/PicHome/KsPic/@khachsan.ANH" alt="">

                    <hr>

                    <!-- Mô Tả -->
                    <p style="text-indent:100px ; font-family: Arial ; font-size: large" class="lead">@khachsan.MOTA</p>

                    <div>
                        <div id="Datve" style="padding: 30px">
                            <a href="@Url.Action("ThemiHotel", "DatVe", new { @iIDKS = khachsan.IDKS, @strURL = Request.Url.ToString() })">Thêm Vào Giỏ</a>
                        </div>
                        <div id="Datve" style="padding: 30px">
                            <a href="@Url.Action("VeKS", "DatVe", new { id = khachsan.IDKS })">Đặt Phòng</a>
                        </div>
                    </div>
                    <hr>
                </div>

            </div>
        </div>
    }

</body>
</html>

