@model DOANWEBDULICH.Models.VETOUR

@{
    ViewBag.Title = "XoaVeTour";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<style>
    #lh {
        line-height: 3.5;
        font-size: 20px;
    }
</style>

<h2>XÓA VÉ TOUR DU LỊCH</h2>

<h3>CHẮC CHẮN XÓA ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt id="lh">
           ID VÉ
        </dt>

        <dd id="lh">
            @Html.DisplayFor(model => model.IDVE)
        </dd>

        <dt id="lh">
            TOUR
        </dt>

        <dd id="lh">
            @Html.DisplayFor(model => model.TOURDULICH.TENTOUR)
        </dd>

        <dt id="lh">
            KHÁCH HÀNG
        </dt>

        <dd id="lh">
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "VeTour")
        </div>
    }
</div>
